@import '_content/CommunityCommon.NhsUkFrontend/CommunityCommon.NhsUkFrontend.bundle.scp.css';
@import '_content/CommunityCommon.Presentation.Components/CommunityCommon.Presentation.Components.bundle.scp.css';
@import '_content/Microsoft.Fast.Components.FluentUI/Microsoft.Fast.Components.FluentUI.bundle.scp.css';

/* /Components/GdsSpinner.razor.rz.scp.css */
.loading[b-ih7eeu9ziz] {
    border: 12px solid #DEE0E2;
    border-radius: 50%;
    border-top-color: #005EA5;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin-b-ih7eeu9ziz 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin-b-ih7eeu9ziz {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#GovSpinnerBackground[b-ih7eeu9ziz] {
    position: fixed;
    top: 0;
    left: 0;
    background: #666;
    z-index: 1001;
    height: 100%;
    width: 100%;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-cv36n0i7fy] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-cv36n0i7fy] {
    flex: 1;
}

.sidebar[b-cv36n0i7fy] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-cv36n0i7fy] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-cv36n0i7fy]  a, .top-row[b-cv36n0i7fy]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-cv36n0i7fy]  a:hover, .top-row[b-cv36n0i7fy]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-cv36n0i7fy]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-cv36n0i7fy] {
        justify-content: space-between;
    }

    .top-row[b-cv36n0i7fy]  a, .top-row[b-cv36n0i7fy]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-cv36n0i7fy] {
        flex-direction: row;
    }

    .sidebar[b-cv36n0i7fy] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-cv36n0i7fy] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-cv36n0i7fy]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-cv36n0i7fy], article[b-cv36n0i7fy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7plxw9105m] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7plxw9105m] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7plxw9105m] {
    font-size: 1.1rem;
}

.bi[b-7plxw9105m] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-7plxw9105m] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-7plxw9105m] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-7plxw9105m] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-7plxw9105m] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7plxw9105m] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7plxw9105m] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7plxw9105m]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-7plxw9105m]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-7plxw9105m]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7plxw9105m] {
        display: none;
    }

    .collapse[b-7plxw9105m] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-7plxw9105m] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/LandingPage.razor.rz.scp.css */



.body-responsive[b-87487kzy0t] {
    background-color: white;
    min-height: 85vh;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.responsive-img[b-87487kzy0t], img[b-87487kzy0t] {
   
    width:1000px;  
    height:583.4px;

}

@media (max-width: 1024px) {
    .responsive-img[b-87487kzy0t], img[b-87487kzy0t] {
        width: 500px;
        height: 291.7px;
    }       
}

@media (max-height: 768px) {
    .body-responsive[b-87487kzy0t] {
        background-color: white;
        min-height: 85vh;
    }


}
/* /Pages/Locations/ViewLocation.razor.rz.scp.css */
#search-field-and-button-div[b-ylig7yivle] {
    display: flex;
    align-items: stretch;
    margin-top: 10px;
}
/* /Pages/PatientSearch/PatientSearchParameters.razor.rz.scp.css */

.label-colour[b-sy7ioh3i90] {
    color: #4C6272;
}

.form-row[b-sy7ioh3i90] {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 5px;
    gap: 24px;
    align-items: flex-end;
}

.label-input-container[b-sy7ioh3i90] {
    display: flex;
    flex-direction: column;
}

.form-group-inline[b-sy7ioh3i90] {
    flex: 1;
    display: flex;
    flex-direction: column;   
}

.non-form-group[b-sy7ioh3i90] {
    flex-shrink: 2;  
}


.nhsuk-input--width-7[b-sy7ioh3i90] {
    max-width: 14.4ex;
}

.form-group-flex-07[b-sy7ioh3i90] {
    flex: 0.70;
}


.form-group-date[b-sy7ioh3i90] {
    flex: 0;
    min-width: 244px;
}

.button-container[b-sy7ioh3i90] {
    padding-bottom: 24px;
    display: flex;
    justify-content: flex-end;
    flex: none;
    flex-direction: column;
}


/* /Shared/Footer.razor.rz.scp.css */
@font-face {
    font-family: "Roboto";
    src: URL("/fonts/Poppins-Medium.ttf") format("truetype");
}

div:has(.open) ~ footer[b-3lrqbakgpz] {
    margin-left: 240px;
}

footer[b-3lrqbakgpz] {
    display: grid;
    margin-left: 240px;
    grid-auto-flow: row dense;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas: "sect-1 sect-2 sect-3";
    background-color: #FFFFFF;
    height: 100px;
    bottom: -8px;
    color: #D6D5CB;
    position: relative;
    z-index: 4;
}

    footer .footer-section[b-3lrqbakgpz] {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        footer .footer-section:nth-of-type(1)[b-3lrqbakgpz] {
            grid-area: "sect-1";
            justify-content: left;
            margin-left: 30px;
        }

        footer .footer-section:nth-of-type(2)[b-3lrqbakgpz] {
            grid-area: "sect-2";
            font-size: 1em;
        }

            footer .footer-section:nth-of-type(2) .icon-wrapper[b-3lrqbakgpz] {
                border-radius: 50%;
                overflow: hidden;
                border: 3px solid #D6D5CB;
                font-size: 2.4rem;
                width: 4rem;
                height: 4rem;
                align-items: center;
                justify-content: center;
                display: flex;
            }

                footer .footer-section:nth-of-type(2) .icon-wrapper:nth-of-type(2)[b-3lrqbakgpz] {
                    margin-left: 10px;
                }

                footer .footer-section:nth-of-type(2) .icon-wrapper:nth-of-type(3)[b-3lrqbakgpz] {
                    margin-left: 10px;
                }

                footer .footer-section:nth-of-type(2) .icon-wrapper:nth-of-type(4)[b-3lrqbakgpz] {
                    margin-left: 10px;
                }

                footer .footer-section:nth-of-type(2) .icon-wrapper i:hover[b-3lrqbakgpz] {
                    color: #256D85;
                    border-color: #256D85;
                    transform: scale(1.2);
                }

        footer .footer-section:nth-of-type(3)[b-3lrqbakgpz] {
            grid-area: "sect-3";
            justify-content: right;
            margin-right:30px;
        }



/* /Shared/Header/LocationHeader.razor.rz.scp.css */
.dropdown[b-iw9pa01hqe] {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.dropdown-header[b-iw9pa01hqe] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    height: 2.5rem;
    padding: 0.25rem;
    background-color: #ffffff;
    border: 1px solid #D8DDE0;
    border-radius: 0.25rem;
    cursor: pointer;
}

.dropdown-icon[b-iw9pa01hqe] {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: #005AA8;
}

.dropdown-label[b-iw9pa01hqe] {
    flex-grow: 1;
    margin: 0;
    margin-right:0.5rem;
    font-size: 1rem;
    color: #1B365D;
}

.dropdown-caret[b-iw9pa01hqe] {
    display: flex;
    align-items: center;
}

.dropdown-menu[b-iw9pa01hqe] {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #1B365D;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    .dropdown-menu.show[b-iw9pa01hqe] {
        display: block;
        min-width: 14rem;
    }

.dropdown-item[b-iw9pa01hqe] {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: #1B365D;
    cursor: pointer;
}

    .dropdown-item:hover[b-iw9pa01hqe] {
        background-color: #f0f4ff;
    }

.dropdown.disabled .dropdown-header[b-iw9pa01hqe] {
    background: #E5E5E5;
    cursor: default;
}
/* /Shared/Header/NavigationHeader.razor.rz.scp.css */
.header[b-u7412i39my] {
    background-color: #ffffff;
    border-bottom: 1px solid #1B365D;
    font-family: Roboto, serif;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    
    height: 4.0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info[b-u7412i39my] {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.site-header__start[b-u7412i39my] {
    height: 100%;
    background-color: #1B365D;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 0.75rem 1rem;
    gap: 10px;
    border-bottom: 1px solid #4C6272;
    min-width: 240px;
}
    .site-header__middle[b-u7412i39my] {
        margin-left: auto;
    }

.logo_text[b-u7412i39my] {
    margin-bottom: 0;
}

.site-header__end[b-u7412i39my] {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 10px;
}
/* /Shared/Header/UserHeader.razor.rz.scp.css */
.dropdown[b-8p5fkixku6] {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.dropdown-header[b-8p5fkixku6] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    height: 2.5rem;
    padding: 0.25rem;
    background-color: #ffffff;
    border: 1px solid #D8DDE0;
    border-radius: 0.25rem;
    cursor: pointer;
}

.dropdown-icon[b-8p5fkixku6] {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    background-color: #005AA8;
}

.dropdown-label[b-8p5fkixku6] {
    flex-grow: 1;
    margin: 0;
    font-size: 1rem;
    color: #1B365D;
}

.dropdown-caret[b-8p5fkixku6] {
    display: flex;
    align-items: center;
}

.dropdown-menu[b-8p5fkixku6] {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #1B365D;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    .dropdown-menu.show[b-8p5fkixku6] {
        display: block;
        min-width: 15rem;
    }

.dropdown-item[b-8p5fkixku6] {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: #1B365D;
    cursor: pointer;
}

    .dropdown-item:hover[b-8p5fkixku6] {
        background-color: #f0f4ff;
    }

.dropdown.disabled .dropdown-header[b-8p5fkixku6] {
    background: #E5E5E5;
    cursor: default;
}
/* /Shared/SideNavigator/SideMenu.razor.rz.scp.css */
.sidenav[b-bqxomw3glp] {
    width: 240px;
    background-color: #1B365D;
    color: white;
    height: 100vh;
    padding: 1rem 0;
    position: fixed;
    top: 4rem;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1000;
}

.sidenav-location[b-bqxomw3glp] {
    background-color: #0B4C8A;
}
.nav-section[b-bqxomw3glp] {
    border-bottom: 1px solid #FFFFFF33;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

[b-bqxomw3glp] .nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: background 0.3s;
    height: 3rem;
    padding: 0.75rem 1rem;
}

    [b-bqxomw3glp] .nav-item:hover, [b-bqxomw3glp] .nav-item.active {
        background-color: #0056b3;
        border-left: 0.475rem solid #ffffff;
    }

[b-bqxomw3glp] .icon {
    font-size: 1.2rem;
}

[b-bqxomw3glp] .nav-item.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

    [b-bqxomw3glp] .nav-item.disabled:hover {
        background-color: transparent;
    }
