// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Add your custom CSS/Sass styles below.

.nhsuk-header
{
    background-color: #1B365D;
    width: 400px;
    float: left;
    position: absolute;
    height: 100%
};

.nhsuk-header__service-name
{
    margin-top: 1em;
}

.nhsuk-header__service-logo:only-child
{
    display: block;
}